*.pyc
.~lock.*
tags
.installed.cfg
bin/
develop-eggs/
downloads/
fake-eggs/
include/
lib/
parts/
var/
buildout-cache/downloads/dist/*.tgz
buildout-cache/downloads/dist/*.bzip
buildout-cache/downloads/dist/*.zip
buildout-cache/eggs/*.egg
.mr.developer.cfg
src/simmonds.portal/simmonds.portal.egg-info/PKG-INFO
src/simmonds.portal/simmonds.portal.egg-info/SOURCES.txt
src/simmonds.portal/simmonds.portal.egg-info/requires.txt
